
@{
    ViewData["Title"] = "UrunListeleK";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using Microsoft.AspNetCore.Http;

@model List<CategoryList>
@{ string username = "";
    if (Context.Session.GetString("Username") != null)
    {
        username = Context.Session.GetString("Username");

        <h2>Ürünlerimiz</h2>
        <table class="table table-responsive">
            <tbody>
                @foreach (var product in Model)
                {
                    <tr>
                        <td> <img style="width=120px" height="120px" src="@product.ProductUrl"></td>
                        <td>
                            <div>
                                <p style="font-size:x-large">@product.ProductName</p>
                                <p style="font-size:large">Fiyatı:     @product.ProductPrice ₺</p>
                            </div>
                        </td>
                        <td>
                            <div>
                                <button class="btn btn-success"> <i class="fa fa-shopping-basket"></i> Sepete Ekle </button><br /><br />
                                <a href="@Url.Action("UrunIncele","List",new {ProductID =product.ProductID })" class="btn btn-primary"><i class="fa fa-search"></i> İncele  </a>
                            </div>
                        </td>

                    </tr>
                }

            </tbody>
        </table>
    }
    else
    {
        username = "Kullanıcı Bulunamadı.";
        <div class="alert alert-warning">
            <strong>Üzgünüm :( </strong> Bu sayfayı yalnızsa kullanıcılarımız görebilir. Görmek için lütfen giriş yapın.,
            <button class="btn btn-default" asp-action="HomePage" asp-controller="Home">Anasayfaya Dön</button>
        </div>
    }
}
