
@{
    ViewData["Title"] = "LoginPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Shoppify</h2>
<div class="col-md-6 form-group">
    <form asp-controller="Login" asp-action="LoginPage" method="post">
        <div class="form-group">
            <label>Kullanıcı Adı:</label>
            <input name="username" class="form-control" type="text" />
        </div>
        <div class="form-group">
            <label>Şifre:</label>
            <input name="password" class="form-control" type="password" />
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success"> Giriş Yap </button>
        </div>
    </form>
</div>

